<!DOCTYPE html>
<html ng-app='addressBook'>
  <head>
    <title>Address Book</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <h1>Address Book</h1>
	<div class="container" ng-controller="addressBookController as abCtrl">
		<form name="newContactForm" ng-submit="newContactForm.$valid && abCtrl.addNewContact()" novalidate>
	  <div class="col-xs-4">
      <label class="control-label"> Name:</label>
         <input class="form-control" type="text" ng-model="abCtrl.newContact.name">
      </div>
      <div class="col-xs-4">
      <label class="control-label"> Email: </label>
        <input class="form-control" type="text" ng-model="abCtrl.newContact.email">
      </div>
      <div class="col-xs-4">
      <label class="control-label">  Phone:  </label>
       <input class="form-control" type="text" ng-model="abCtrl.newContact.phone">
      </div>
        <input type="submit" class="btn btn-success" value="Add Contact" ng-show="newContactForm.$valid"/>
    </form>
    <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Delete</th>
        </tr>
        </thead>
      <tbody>
        <tr ng-repeat="(contactId, contact) in abCtrl.contacts">
          <td><img class="ab-img" ng-src="{{contact.image}}"></td>
          <td>{{contact.name}}</td>
          <td>{{contact.email}}</td>
          <td>{{contact.phone}}</td>
          <td><button ng-click="abCtrl.removeContact(contactId)">Delete</button></td>
        </tr>
      </tbody>
    </table>
    </div>
	</div>
  <script src='bower_components/jquery/dist/jquery.min.js'></script>
  <script src='bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
  <script src='bower_components/angular/angular.min.js'></script>
  <script src='js/main.js'></script>
  </body>
</html>
